{% extends 'functions/base.html' %}

<!-- ---------------------------------------------------------------------------------------------------- -->

{% block title %} 云南电网中长期负荷预警系统 {% endblock %}

<!-- ---------------------------------------------------------------------------------------------------- -->

{% block stylesheets %}
    <link rel="stylesheet" href="{{ static('plg/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ static('plg/bootstrap-3.4.1-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('plg/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <style>
        body {
            background: #337ab7;
        }

        h5 {
            color: #d4d1d1;
        }

        label {
            font-weight: 300;
        }

        .fa {
            margin-left: 8px;
        }

        .text-blue {
            color: #153974 !important;
            font-weight: 500;
            font-size: 1.6rem;
        }
    </style>
    <style>
        #dynamic_dash {
            width: 100%;
            height: 500px;
            border-radius: 9px;
            border: 1px silver solid;
        }
    </style>
    <style>
        #line_dash {
            margin-top: 10px;
            width: 100%;
            height: 500px;
            border-radius: 9px;
            border: 1px silver solid;
        }
    </style>
    <style>
        #pie_dash {
            position: relative;
            margin-top: 10px;
            width: 100%;
            height: 500px;
            border-radius: 9px;
            border: 1px silver solid;
        }

        .form-select {
            width: 100px;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 99;
        }
    </style>
    <style>
        #couple_dash {
            width: 100%;
            height: 500px;
        }
    </style>

{% endblock %}

{% block nav %}
    {# 导航栏 #}
    <nav class="navbar navbar-default" style="border-radius: 0; margin-bottom: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="padding: 5px; padding-left: 10px; padding-top: 0;" href="#"><img
                        src="{{ static('img/logo.png') }}" width="160" style="vertical-align: -10px"></a>
                <a class="navbar-brand" href="#"><small>（Beta 1.0）</small></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="text-blue" href="/"><span class="fa fa-home"></span> 系统主页</a></li>
                    <li><a class="text-blue" href="/mul_source/"><span {% if path == 'mul_source' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-database"></span> 多源数据融合感知系统</span></a>
                    </li>
                    <li><a class="text-blue" href="/eco_evolution/"><span {% if path == 'eco_evolution' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-line-chart"></span>
                            社会经济演化分析系统</span></a></li>
                    <li><a class="text-blue" href="/dpm_warning/"><span {% if path == 'dpm_warning' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-bell"></span> 社会经济发展预警系统</span></a>
                    </li>
                    <li><a class="text-blue" href="/lod_warning/"><span {% if path == 'lod_warning' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}
                    ><span
                            class="fa fa-cubes"></span> 中长期负荷预警系统</span></a></li>
                    <li><a class="text-blue" href="/res_analysis/"><span {% if path == 'res_analysis' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-id-card-o"></span>
                        社会求职简历数据可视化平台</span></a></li>
                </ul>
                <p class="navbar-text navbar-right"><a type="button" style="color: midnightblue" href="#"><span
                        class="fa fa-user-circle"></span> 蒲应明 <small>[注销]</small></a></p>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div>

        {# 主框架 #}

        <div>

            {# 控制栏 #}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" style="height: 80vh; padding: 0">
                        <div class="panel panel-primary">
                            <div class="panel-heading">数据可视化</div>
                            <div class="panel-body" style="height: 76vh">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="dynamic_dash"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="couple_dash"></div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div id="line_dash">
                                            <select class="form-select" id="date-pick-line" aria-label="选择日期"
                                                    style="width: 300px;right: 35px;top: 15px;">
                                                {% for cate in category %}
                                                    <option value="{{ cate }}">{{ cate }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div id="pie_dash">
                                            <select class="form-select" id="date-pick-pie" aria-label="选择日期">
                                                {% for year in years %}
                                                    <option value="{{ year }}">{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: auto;">
                    <div class="col-md-12" style="height: 15vh;">
                        {# 状态栏 #}
                        <div>
                            <div class="container-fluid"
                                 style="color: white; background: rgba(255,255,255,0.3); height: 190px; margin-top: 20px; border-radius: 9px; padding: 10px">
                                <div class="col-md-3">目前输入数据：</div>
                                <div class="col-md-3">采用分析模型：</div>
                                <div class="col-md-3">分析所用数据量：</div>
                                <div class="col-md-3">系统负载：</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="{{ static('plg/jquery-3.6.0.min.js') }}"></script>

    <script>
        function getLData(path) {
            return new Promise(resolve => {
                $.ajax({
                    url: 'http://127.0.0.1:8000/' + path,
                    type: 'get',
                    dataType: 'json',
                    success(res) {
                        const allData = res.reduce((cur, next) => {
                            cur = {...cur, ...next}
                            return cur
                        }, {})
                        resolve(allData)
                    }
                })
            })
        }

        am5.ready(async function () {

            const allData = await getLData('edata_year');
            console.log(allData)
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("dynamic_dash");

            root.numberFormatter.setAll({
                numberFormat: "#a",

                // Group only into M (millions), and B (billions)
                bigNumberPrefixes: [
                    {number: 1e6, suffix: "M"},
                    {number: 1e9, suffix: "B"}
                ],

                // Do not use small number prefixes at all
                smallNumberPrefixes: []
            });

            var stepDuration = 2000;


// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([am5themes_Animated.new(root)]);


// Create chart
// https://www.amcharts.com/docs/v5/charts/xy-chart/
            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: true,
                panY: true,
                wheelX: "none",
                wheelY: "none"
            }));


// We don't want zoom-out button to appear while animating, so we hide it at all
            chart.zoomOutButton.set("forceHidden", true);


// Create axes
// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            var yRenderer = am5xy.AxisRendererY.new(root, {
                minGridDistance: 20,
                inversed: true
            });
// hide grid
            yRenderer.grid.template.set("visible", false);

            var yAxis = chart.yAxes.push(am5xy.CategoryAxis.new(root, {
                maxDeviation: 0,
                categoryField: "network",
                renderer: yRenderer
            }));

            var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
                maxDeviation: 0,
                min: 0,
                strictMinMax: true,
                extraMax: 0.1,
                renderer: am5xy.AxisRendererX.new(root, {})
            }));

            xAxis.set("interpolationDuration", stepDuration / 10);
            xAxis.set("interpolationEasing", am5.ease.linear);


// Add series
// https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            var series = chart.series.push(am5xy.ColumnSeries.new(root, {
                xAxis: xAxis,
                yAxis: yAxis,
                valueXField: "value",
                categoryYField: "network"
            }));

// Rounded corners for columns
            series.columns.template.setAll({cornerRadiusBR: 5, cornerRadiusTR: 5});

// Make each column to be of a different color
            series.columns.template.adapters.add("fill", function (fill, target) {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

            series.columns.template.adapters.add("stroke", function (stroke, target) {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

// Add label bullet
            series.bullets.push(function () {
                return am5.Bullet.new(root, {
                    locationX: 1,
                    sprite: am5.Label.new(root, {
                        text: "{valueXWorking.formatNumber('#.# a')}",
                        fill: root.interfaceColors.get("alternativeText"),
                        centerX: am5.p100,
                        centerY: am5.p50,
                        populateText: true
                    })
                });
            });

            var label = chart.plotContainer.children.push(am5.Label.new(root, {
                text: "2008",
                fontSize: "8em",
                opacity: 0.2,
                x: am5.p100,
                y: am5.p100,
                centerY: am5.p100,
                centerX: am5.p100
            }));

// Get series item by category
            function getSeriesItem(category) {
                for (var i = 0; i < series.dataItems.length; i++) {
                    var dataItem = series.dataItems[i];
                    if (dataItem.get("categoryY") == category) {
                        return dataItem;
                    }
                }
            }

// Axis sorting
            function sortCategoryAxis() {
                // sort by value
                series.dataItems.sort(function (x, y) {
                    return y.get("valueX") - x.get("valueX"); // descending
                    //return x.get("valueX") - y.get("valueX"); // ascending
                });

                // go through each axis item
                am5.array.each(yAxis.dataItems, function (dataItem) {
                    // get corresponding series item
                    var seriesDataItem = getSeriesItem(dataItem.get("category"));

                    if (seriesDataItem) {
                        // get index of series data item
                        var index = series.dataItems.indexOf(seriesDataItem);
                        // calculate delta position
                        var deltaPosition =
                            (index - dataItem.get("index", 0)) / series.dataItems.length;
                        // set index to be the same as series data item index
                        if (dataItem.get("index") != index) {
                            dataItem.set("index", index);
                            // set deltaPosition instanlty
                            dataItem.set("deltaPosition", -deltaPosition);
                            // animate delta position to 0
                            dataItem.animate({
                                key: "deltaPosition",
                                to: 0,
                                duration: stepDuration / 2,
                                easing: am5.ease.out(am5.ease.cubic)
                            });
                        }
                    }
                });
                // sort axis items by index.
                // This changes the order instantly, but as deltaPosition is set, they keep in the same places and then animate to true positions.
                yAxis.dataItems.sort(function (x, y) {
                    return x.get("index") - y.get("index");
                });
            }

            var year = 2008;

// update data with values each 1.5 sec
            var interval = setInterval(function () {
                year++;

                if (year > 2010) {
                    clearInterval(interval);
                    clearInterval(sortInterval);
                }

                updateData();
            }, stepDuration);

            var sortInterval = setInterval(function () {
                sortCategoryAxis();
            }, 100);

            function setInitialData() {
                var d = allData[year];

                for (var n in d) {
                    series.data.push({network: n, value: +d[n]});
                    yAxis.data.push({network: n});
                }
            }

            function updateData() {
                var itemsWithNonZero = 0;

                if (allData[year]) {
                    label.set("text", year.toString());

                    am5.array.each(series.dataItems, function (dataItem) {
                        var category = dataItem.get("categoryY");
                        var value = +allData[year][category];

                        if (value > 0) {
                            itemsWithNonZero++;
                        }

                        dataItem.animate({
                            key: "valueX",
                            to: value,
                            duration: stepDuration,
                            easing: am5.ease.linear
                        });
                        dataItem.animate({
                            key: "valueXWorking",
                            to: value,
                            duration: stepDuration,
                            easing: am5.ease.linear
                        });
                    });

                    yAxis.zoom(0, itemsWithNonZero / yAxis.dataItems.length);
                }
            }

            setInitialData();
            setTimeout(function () {
                year++;
                updateData();
            }, 50);

// Make stuff animate on load
// https://www.amcharts.com/docs/v5/concepts/animations/
            series.appear(1000);
            chart.appear(1000, 100);

        });
        // end am5.ready()
    </script>
    <script>
        function getData(path) {
            return new Promise(resolve => {
                $.ajax({
                    url: 'http://127.0.0.1:8000/' + path,
                    type: 'get',
                    dataType: 'json',
                    success(res) {
                        resolve(res)
                    }
                })
            })
        }

        am5.ready(async function () {

// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("line_dash");

// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
                am5themes_Animated.new(root)
            ]);

// Create chart
// https://www.amcharts.com/docs/v5/charts/xy-chart/
            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: true,
                panY: true,
                wheelX: "panX",
                wheelY: "zoomX",
                pinchZoomX: true
            }));

// Add cursor
// https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
            var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
                behavior: "none"
            }));
            cursor.lineY.set("visible", false);

// Generate random data
            var date = new Date();
            date.setHours(0, 0, 0, 0);
            var value = 100;

            function generateDatas(count) {
                var data = [];
                for (var i = 0; i < count; ++i) {
                    data.push(generateData());
                }
                return data;
            }

// Create axes
// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
                baseInterval: {timeUnit: "day", count: 1},
                renderer: am5xy.AxisRendererX.new(root, {}),
                tooltip: am5.Tooltip.new(root, {})
            }));

            var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                renderer: am5xy.AxisRendererY.new(root, {})
            }));

// Add series
// https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            var series = chart.series.push(am5xy.LineSeries.new(root, {
                name: "Series",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value",
                valueXField: "date",
                tooltip: am5.Tooltip.new(root, {
                    labelText: "{valueY}"
                })
            }));


// Add scrollbar
// https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
            var scrollbar = chart.set("scrollbarX", am5xy.XYChartScrollbar.new(root, {
                orientation: "horizontal",
                height: 60
            }));

            var sbDateAxis = scrollbar.chart.xAxes.push(am5xy.DateAxis.new(root, {
                baseInterval: {
                    timeUnit: "day",
                    count: 1
                },
                renderer: am5xy.AxisRendererX.new(root, {})
            }));

            var sbValueAxis = scrollbar.chart.yAxes.push(
                am5xy.ValueAxis.new(root, {
                    renderer: am5xy.AxisRendererY.new(root, {})
                })
            );

            var sbSeries = scrollbar.chart.series.push(am5xy.LineSeries.new(root, {
                valueYField: "value",
                valueXField: "date",
                xAxis: sbDateAxis,
                yAxis: sbValueAxis
            }));
            let data = [];
            const selectCate = document.querySelector("#date-pick-line")
            selectCate.addEventListener('change', function (e) {
                generateData(e.target.value)
            })

            async function generateData(value) {
                if (value === '全社会用电总量') {
                    data = await getData('edata_predict')
                    data = data.map(item => {
                        return {
                            date: new Date(item.date).getTime(),
                            value: +item.value1
                        }
                    })
                } else {
                    data = await getData('edata_year')
                    data = data.map(item => {
                        let year = Object.keys(item)[0]
                        return {
                            date: new Date(year).getTime(),
                            value: +item[year][value]
                        }
                    })
                }
                series.data.setAll(data);
                sbSeries.data.setAll(data);
            }

            await generateData(selectCate.value)


            {#var data = generateDatas(2000);#}
            series.data.setAll(data);
            sbSeries.data.setAll(data);

// Make stuff animate on load
// https://www.amcharts.com/docs/v5/concepts/animations/
            series.appear(1000);
            chart.appear(1000, 100);

        }); // end am5.ready()
    </script>
    <script>
        function getOData(path, year) {
            return new Promise(resolve => {
                $.ajax({
                    url: 'http://127.0.0.1:8000/' + path,
                    type: 'get',
                    data: {year},
                    dataType: 'json',
                    success(res) {
                        resolve(res)
                    }
                })
            })
        }

        const select = document.querySelector('#date-pick-pie')
        am5.ready(async function () {

// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("pie_dash");


// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
                am5themes_Animated.new(root)
            ]);


// Create chart
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
            var chart = root.container.children.push(am5percent.PieChart.new(root, {
                layout: root.verticalLayout
            }));


// Create series
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
            var series = chart.series.push(am5percent.PieSeries.new(root, {
                valueField: "value",
                categoryField: "category"
            }));
            let res = await getOData('edata_every', select.value)
            let data = []
            for (let key in res) {
                data.push({
                    value: +res[key],
                    category: key
                })
            }

            select.addEventListener('change', async (e) => {
                res = await getOData('edata_every', select.value)
                data = []
                for (let key in res) {
                    data.push({
                        value: +res[key],
                        category: key
                    })
                }
                series.data.setAll(data);
            })
// Set data
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
            series.data.setAll(data);


// Create legend
// https://www.amcharts.com/docs/v5/charts/percent-charts/legend-percent-series/
            var legend = chart.children.push(am5.Legend.new(root, {
                centerX: am5.percent(50),
                x: am5.percent(50),
                marginTop: 15,
                marginBottom: 15
            }));

            legend.data.setAll(series.dataItems);


// Play initial series animation
// https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
            series.appear(1000, 100);

        }); // end am5.ready()
    </script>
    <script>
        am5.ready(async function () {

            // Create root element
            // https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("couple_dash");


            // Set themes
            // https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
                am5themes_Animated.new(root)
            ]);


            // Create chart
            // https://www.amcharts.com/docs/v5/charts/xy-chart/
            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: true,
                panY: true,
                wheelX: "panX",
                wheelY: "zoomX",
                pinchZoomX: true
            }));

            chart.get("colors").set("step", 3);


            // Add cursor
            // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
            var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
            cursor.lineY.set("visible", false);


            // Create axes
            // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
                maxDeviation: 0.3,
                baseInterval: {
                    timeUnit: "day",
                    count: 1
                },
                renderer: am5xy.AxisRendererX.new(root, {}),
                tooltip: am5.Tooltip.new(root, {})
            }));

            var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                maxDeviation: 0.3,
                renderer: am5xy.AxisRendererY.new(root, {})
            }));


            // Add series
            // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            var series = chart.series.push(am5xy.LineSeries.new(root, {
                name: "Series 1",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value1",
                valueXField: "date",
                tooltip: am5.Tooltip.new(root, {
                    labelText: "{valueX}: {valueY}\n{previousDate}: {value2}"
                })
            }));

            series.strokes.template.setAll({
                strokeWidth: 2
            });

            series.get("tooltip").get("background").set("fillOpacity", 0.5);

            var series2 = chart.series.push(am5xy.LineSeries.new(root, {
                name: "Series 2",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value2",
                valueXField: "date"
            }));
            series2.strokes.template.setAll({
                strokeDasharray: [2, 2],
                strokeWidth: 2
            });

            // Set date fields
            // https://www.amcharts.com/docs/v5/concepts/data/#Parsing_dates
            root.dateFormatter.setAll({
                dateFormat: "yyyy-MM-dd",
                dateFields: ["valueX"]
            });


            // Set data
            const data = await getData('edata_predict')

            data.forEach(item => {
                item.date = new Date(item.date).getTime();
                item.previousDate = new Date(item.previousDate).getTime();
                item.value1 = +item.value1;
                item.value2 = +item.value2;
            });
            console.log(data)
            series.data.setAll(data);
            series2.data.setAll(data);


            // Make stuff animate on load
            // https://www.amcharts.com/docs/v5/concepts/animations/
            series.appear(1000);
            series2.appear(1000);
            chart.appear(1000, 100);

        }); // end am5.ready()
    </script>
{% endblock %}
