{% extends 'functions/base.html' %}

<!-- ---------------------------------------------------------------------------------------------------- -->

{% block title %} 云南电网中长期负荷预警系统 {% endblock %}

<!-- ---------------------------------------------------------------------------------------------------- -->

{% block stylesheets %}
    <link rel="stylesheet" href="{{ static('plg/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ static('plg/bootstrap-3.4.1-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('plg/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <style>
        body {
            background: #337ab7;
        }

        h5 {
            color: #d4d1d1;
        }

        label {
            font-weight: 300;
        }

        .fa {
            margin-left: 8px;
        }

        .text-blue {
            color: #153974 !important;
            font-weight: 500;
            font-size: 1.6rem;
        }
    </style>
    <style>
        #dynamic_dash {
            width: 100%;
            height: 500px;
            border-radius: 9px;
            border: 1px silver solid;
        }
    </style>
    <style>
        #line_dash {
            margin-top: 10px;
            width: 100%;
            height: 500px;
            border-radius: 9px;
            border: 1px silver solid;
        }
    </style>
    <style>
        #pie_dash {
            position: relative;
            margin-top: 10px;
            width: 100%;
            height: 500px;
            border-radius: 9px;
            border: 1px silver solid;
        }

        .form-select {
            width: 100px;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 99;
        }
    </style>
    <style>
        #couple_dash {
            width: 100%;
            height: 500px;
        }
    </style>

{% endblock %}

{% block nav %}
    {# 导航栏 #}
    <nav class="navbar navbar-default" style="border-radius: 0; margin-bottom: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="padding: 5px; padding-left: 10px; padding-top: 0;" href="#"><img
                        src="{{ static('img/logo.png') }}" width="160" style="vertical-align: -10px"></a>
                <a class="navbar-brand" href="#"><small>（Beta 1.0）</small></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="text-blue" href="/"><span class="fa fa-home"></span> 系统主页</a></li>
                    <li><a class="text-blue" href="/mul_source/"><span {% if path == 'mul_source' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-database"></span> 多源数据融合感知</span></a>
                    </li>
                    <li><a class="text-blue" href="/eco_evolution/"><span {% if path == 'eco_evolution' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-line-chart"></span>
                            社会经济演化预警</span></a></li>
                    <li><a class="text-blue" href="/dpm_warning/"><span {% if path == 'dpm_warning' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-bell"></span> 社会经济发展分析</span></a>
                    </li>
                    <li><a class="text-blue" href="/lod_warning/"><span {% if path == 'lod_warning' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}
                    ><span
                            class="fa fa-cubes"></span> 中长期负荷预警</span></a></li>
                    <li><a class="text-blue" href="/res_analysis/"><span {% if path == 'res_analysis' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-id-card-o"></span>
                        社会求职简历数据可视化</span></a></li>
                </ul>
                <p class="navbar-text navbar-right"><a type="button" style="color: midnightblue" href="#"><span
                        class="fa fa-user-circle"></span> 蒲应明 <small>[注销]</small></a></p>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div>

        {# 主框架 #}

        <div>

            {# 控制栏 #}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" style="height: 76vh; padding: 0">
                        <div class="panel panel-primary">
                            <div class="panel-heading">数据可视化</div>
                            <div class="panel-body" style="height: 76vh">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="dynamic_dash"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="couple_dash"></div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div id="line_dash">
                                            <select class="form-select" id="date-pick-line" aria-label="选择日期"
                                                    style="width: 300px;right: 35px;top: 15px;">
                                                {% for cate in category %}
                                                    <option value="{{ cate }}">{{ cate }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div id="pie_dash">
                                            <select class="form-select" id="date-pick-pie" aria-label="选择日期">
                                                {% for year in years %}
                                                    <option value="{{ year }}">{{ year }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: auto;">
                    <div class="col-md-12" style="height: 15vh;">
                        {# 状态栏 #}
                        <div>

                            <div class="container-fluid"
                                 style="color: white; background: rgba(255,255,255,0.1); height: 180px; margin-top: 50px; border-radius: 9px; padding: 10px; border: none">

                            <div class="container-fluid" style="color: white; background: rgba(255,255,255,0.1); height: 180px; margin-top: 50px; border-radius: 9px; padding: 10px; border: none">

                                <div class="col-md-4" style="border-left: #a6d4ff solid 1px; height: 12vh">
                                    <h4><span class="fa fa-cubes"></span> 当前模型架构：</h4>
                                    <div style="width: 100%; padding: 12px; height: 60px; background: rgba(255,255,255,0.15); font-weight: 600; line-height: 35px">
                                        模型名称
                                    </div>
                                    <div>
                                        <label style="display: flex; justify-content: space-between">
                                            <span style="padding-top: 18px;padding-left: 10px">选择模型</span>

                                            <select class="form-control"
                                                    style="width: 80%;background: rgba(255,255,255,0.54); margin-top: 10px">

                                            <select class="form-control" style="width: 80%;background: rgba(255,255,255,0.54); margin-top: 10px">

                                                <option>模型1</option>
                                                <option>模型2</option>
                                                <option>模型3</option>
                                                <option>模型3</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3" style="border-left: #a6d4ff solid 1px; height: 12vh">
                                    <h4><span class="fa fa-cogs"></span> 模型超参数：</h4>
                                    <div style="border-radius: 9px; width: 100%; height: 70px; background: rgba(255,255,255,0.2)">

                                    </div>

                                    <div class="row"
                                         style="display: flex; justify-content: space-between; padding-top: 10px">
                                        <button class="btn btn-info" style="width: 95%;">开始预测</button>
                                    </div>

                                    <div class="row" style="display: flex; justify-content: space-between; padding-top: 10px"><button class="btn btn-info" style="width: 95%;">开始预测</button></div>

                                </div>
                                <div class="col-md-3" style="border-left: #a6d4ff solid 1px; height: 12vh">
                                    <h4><span class="fa fa-cloud-download"></span> 分析报告：</h4>
                                    <div style="width: 100%; padding: 12px; height: 40px; background: rgba(255,255,255,0.15); font-weight: 600">
                                        <a href="#" style="color: #ffecc7"><i class="fa fa-file-text"></i> 点击下载分析报告</a>
                                    </div>
                                    <div style="padding: 10px; color: #9fc3f5">
                                        当前时间: <span id="current_time" style="padding-left: 10px; color: #f5f0a7"></span>
                                    </div>
                                </div>
                                <div class="col-md-2" style="border-left: #a6d4ff solid 1px; height: 12vh">
                                    <br>
                                    <div>内存 <span id="mem_txt"
                                                  style="padding-left: 10px; color: #f3c6b1; font-weight: 800"></span>
                                    </div>
                                    <div class="progress" style="background: #5b80b2">
                                        <div id="mem_status" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"style="width: 20%">
                                        </div>
                                    </div>
                                    <div>CPU <span id="cpu_txt"
                                                   style="padding-left: 10px; color: #bdf3b1; font-weight: 800"></span>
                                    </div>
                                    <div class="progress" style="background: #5b80b2">

                                        <div id="cpu_status" class="progress-bar progress-bar-info progress-bar-striped"
                                             role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 50%">
                                        </div>
                                    </div>
                                    <script>
                                        /*
                                        *   系统状态实时展示： 完毕
                                        * */
                                        setInterval(function () {
                                            $.ajax({
                                                url: '/sys_status/',
                                                dataType: 'JSON',
                                                success: function (sys_data) {
                                                    $('#mem_status').css('width', sys_data['mem_percent'] + '%')
                                                    $('#cpu_status').css('width', sys_data['cpu_percent'] + '%')
                                                    $('#cpu_txt').text(sys_data['cpu_percent'] + '%')
                                                    $('#mem_txt').text(sys_data['mem_percent'] + '%')
                                                }
                                            })
                                        }, 1000)
                                    </script>

                                        <div id="cpu_status" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 50%">
                                        </div>
                                    </div>
                                        <script>
                                        /*
                                        *   系统状态实时展示： 完毕
                                        * */
                                            setInterval(function (){
                                                $.ajax({
                                                    url: '/sys_status/',
                                                    dataType: 'JSON',
                                                    success: function (sys_data) {
                                                        console.log(sys_data)
                                                        $('#mem_status').css('width', sys_data['mem_percent'] + '%')
                                                        $('#cpu_status').css('width', sys_data['cpu_percent'] + '%')
                                                        $('#cpu_txt').text(sys_data['cpu_percent'] + '%')
                                                        $('#mem_txt').text(sys_data['mem_percent'] + '%')
                                                    }
                                                })
                                            }, 1000)
                                        </script>

                                </div>
                            </div>

                            <div class="progress" style="margin-top: 20px;margin-left: 0; margin-right: 0; padding: 0;
							position: absolute; bottom: -80px; left: 20px; right: 20px; background: #296395">
                                <div id="process" class="progress-bar progress-bar-success progress-bar-striped active"
                                     role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 0;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="width: 90%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body" style="height: 100%;">
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default close-btn" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
{% endblock %}

{% block scripts %}
    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="{{ static('plg/jquery-3.6.0.min.js') }}"></script>

    <script>
        let modalTitle = $('.modal-title')
        let closeBtn = $('.close-btn')
        let modalBody = $('.modal-body')
        let close = $('.close')
        closeBtn.on('click', () => {
            $('.modal').css('display', 'none');
        })
        close.on('click', () => {
            $('.modal').css('display', 'none');
        })

        function getLData(path) {
            return new Promise(resolve => {
                $.ajax({
                    url: 'http://127.0.0.1:8000/' + path,
                    type: 'get',
                    dataType: 'json',
                    success(res) {
                        const allData = res.data.reduce((cur, next) => {
                            cur = {...cur, ...next}
                            return cur
                        }, {})
                        resolve(allData)
                    }
                })
            })
        }

        function render4(root, min_year, max_year, allData) {
            root.numberFormatter.setAll({
                numberFormat: "#a",

                // Group only into M (millions), and B (billions)
                bigNumberPrefixes: [
                    {number: 1e6, suffix: "M"},
                    {number: 1e9, suffix: "B"}
                ],

                // Do not use small number prefixes at all
                smallNumberPrefixes: []
            });

            var stepDuration = 2000;


// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([am5themes_Animated.new(root)]);


// Create chart
// https://www.amcharts.com/docs/v5/charts/xy-chart/
            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: true,
                panY: true,
                wheelX: "none",
                wheelY: "none"
            }));


// We don't want zoom-out button to appear while animating, so we hide it at all
            chart.zoomOutButton.set("forceHidden", true);


// Create axes
// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            var yRenderer = am5xy.AxisRendererY.new(root, {
                minGridDistance: 20,
                inversed: true
            });
// hide grid
            yRenderer.grid.template.set("visible", false);

            var yAxis = chart.yAxes.push(am5xy.CategoryAxis.new(root, {
                maxDeviation: 0,
                categoryField: "network",
                renderer: yRenderer
            }));

            var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
                maxDeviation: 0,
                min: 0,
                strictMinMax: true,
                extraMax: 0.1,
                renderer: am5xy.AxisRendererX.new(root, {})
            }));

            xAxis.set("interpolationDuration", stepDuration / 10);
            xAxis.set("interpolationEasing", am5.ease.linear);


// Add series
// https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            var series = chart.series.push(am5xy.ColumnSeries.new(root, {
                xAxis: xAxis,
                yAxis: yAxis,
                valueXField: "value",
                categoryYField: "network"
            }));

// Rounded corners for columns
            series.columns.template.setAll({cornerRadiusBR: 5, cornerRadiusTR: 5});

// Make each column to be of a different color
            series.columns.template.adapters.add("fill", function (fill, target) {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

            series.columns.template.adapters.add("stroke", function (stroke, target) {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

// Add label bullet
            series.bullets.push(function () {
                return am5.Bullet.new(root, {
                    locationX: 1,
                    sprite: am5.Label.new(root, {
                        text: "{valueXWorking.formatNumber('#.# a')}",
                        fill: root.interfaceColors.get("alternativeText"),
                        centerX: am5.p100,
                        centerY: am5.p50,
                        populateText: true
                    })
                });
            });

            var label = chart.plotContainer.children.push(am5.Label.new(root, {
                text: `${min_year}`,
                fontSize: "8em",
                opacity: 0.2,
                x: am5.p100,
                y: am5.p100,
                centerY: am5.p100,
                centerX: am5.p100
            }));

// Get series item by category
            function getSeriesItem(category) {
                for (var i = 0; i < series.dataItems.length; i++) {
                    var dataItem = series.dataItems[i];
                    if (dataItem.get("categoryY") == category) {
                        return dataItem;
                    }
                }
            }

// Axis sorting
            function sortCategoryAxis() {
                // sort by value
                series.dataItems.sort(function (x, y) {
                    return y.get("valueX") - x.get("valueX"); // descending
                    //return x.get("valueX") - y.get("valueX"); // ascending
                });

                // go through each axis item
                am5.array.each(yAxis.dataItems, function (dataItem) {
                    // get corresponding series item
                    var seriesDataItem = getSeriesItem(dataItem.get("category"));

                    if (seriesDataItem) {
                        // get index of series data item
                        var index = series.dataItems.indexOf(seriesDataItem);
                        // calculate delta position
                        var deltaPosition =
                            (index - dataItem.get("index", 0)) / series.dataItems.length;
                        // set index to be the same as series data item index
                        if (dataItem.get("index") != index) {
                            dataItem.set("index", index);
                            // set deltaPosition instanlty
                            dataItem.set("deltaPosition", -deltaPosition);
                            // animate delta position to 0
                            dataItem.animate({
                                key: "deltaPosition",
                                to: 0,
                                duration: stepDuration / 2,
                                easing: am5.ease.out(am5.ease.cubic)
                            });
                        }
                    }
                });
                // sort axis items by index.
                // This changes the order instantly, but as deltaPosition is set, they keep in the same places and then animate to true positions.
                yAxis.dataItems.sort(function (x, y) {
                    return x.get("index") - y.get("index");
                });
            }

            var year = min_year;

// update data with values each 1.5 sec
            var interval = setInterval(function () {
                year++;

                if (year > max_year) {
                    clearInterval(interval);
                    clearInterval(sortInterval);
                }

                updateData();
            }, stepDuration);

            var sortInterval = setInterval(function () {
                sortCategoryAxis();
            }, 100);

            function setInitialData() {
                var d = allData[year];

                for (var n in d) {
                    series.data.push({network: n, value: +d[n]});
                    yAxis.data.push({network: n});
                }
            }

            function updateData() {
                var itemsWithNonZero = 0;

                if (allData[year]) {
                    label.set("text", year.toString());

                    am5.array.each(series.dataItems, function (dataItem) {
                        var category = dataItem.get("categoryY");
                        var value = +allData[year][category];

                        if (value > 0) {
                            itemsWithNonZero++;
                        }

                        dataItem.animate({
                            key: "valueX",
                            to: value,
                            duration: stepDuration,
                            easing: am5.ease.linear
                        });
                        dataItem.animate({
                            key: "valueXWorking",
                            to: value,
                            duration: stepDuration,
                            easing: am5.ease.linear
                        });
                    });

                    yAxis.zoom(0, itemsWithNonZero / yAxis.dataItems.length);
                }
            }

            setInitialData();
            setTimeout(function () {
                year++;
                updateData();
            }, 50);

// Make stuff animate on load
// https://www.amcharts.com/docs/v5/concepts/animations/
            series.appear(1000);
            chart.appear(1000, 100);

        }

        am5.ready(async function () {

            const allData = await getLData('edata_year');
            var min_year = Object.keys(allData)[0]
            var max_year = Object.keys(allData)[Object.keys(allData).length - 1]
            var root = am5.Root.new("dynamic_dash");
            $('#dynamic_dash').on('click', (e) => {
                if (e.target.tagName === 'SELECT') return;
                $('.modal').css('display', 'block').css('background-color', 'rgba(0,0,0, .5)').addClass('in');
                modalTitle.text('')
                modalBody.html(`<div id="m-dynamic_dash" style="width: 100%;height: 500px;border-radius: 9px;border: 1px silver solid;"></div>`)
                let root = am5.Root.new('m-dynamic_dash')
                render4(root, min_year, max_year, allData)
            })
            render4(root, min_year, max_year, allData)
        });
        // end am5.ready()
    </script>
    <script>
        function getData(path) {
            return new Promise(resolve => {
                $.ajax({
                    url: 'http://127.0.0.1:8000/' + path,
                    type: 'get',
                    dataType: 'json',
                    success(res) {
                        resolve(res)
                    }
                })
            })
        }

        async function render1(root, sid) {
            root.setThemes([
                am5themes_Animated.new(root)
            ]);

// Create chart
// https://www.amcharts.com/docs/v5/charts/xy-chart/
            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: true,
                panY: true,
                wheelX: "panX",
                wheelY: "zoomX",
                pinchZoomX: true
            }));

// Add cursor
// https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
            var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
                behavior: "none"
            }));
            cursor.lineY.set("visible", false);

// Generate random data
            var date = new Date();
            date.setHours(0, 0, 0, 0);
            var value = 100;

            function generateDatas(count) {
                var data = [];
                for (var i = 0; i < count; ++i) {
                    data.push(generateData());
                }
                return data;
            }

// Create axes
// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
            var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
                baseInterval: {timeUnit: "day", count: 1},
                renderer: am5xy.AxisRendererX.new(root, {}),
                tooltip: am5.Tooltip.new(root, {})
            }));

            var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                renderer: am5xy.AxisRendererY.new(root, {})
            }));

// Add series
// https://www.amcharts.com/docs/v5/charts/xy-chart/series/
            var series = chart.series.push(am5xy.LineSeries.new(root, {
                name: "Series",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value",
                valueXField: "date",
                tooltip: am5.Tooltip.new(root, {
                    labelText: "{valueY}"
                })
            }));


// Add scrollbar
// https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
            var scrollbar = chart.set("scrollbarX", am5xy.XYChartScrollbar.new(root, {
                orientation: "horizontal",
                height: 60
            }));

            var sbDateAxis = scrollbar.chart.xAxes.push(am5xy.DateAxis.new(root, {
                baseInterval: {
                    timeUnit: "day",
                    count: 1
                },
                renderer: am5xy.AxisRendererX.new(root, {})
            }));

            var sbValueAxis = scrollbar.chart.yAxes.push(
                am5xy.ValueAxis.new(root, {
                    renderer: am5xy.AxisRendererY.new(root, {})
                })
            );

            var sbSeries = scrollbar.chart.series.push(am5xy.LineSeries.new(root, {
                valueYField: "value",
                valueXField: "date",
                xAxis: sbDateAxis,
                yAxis: sbValueAxis
            }));
            let data = [];
            const selectCate = document.querySelector(sid)
            selectCate.addEventListener('change', function (e) {
                generateData(e.target.value)
            })

            async function generateData(value) {
                if (value === '全社会用电总量') {
                    data = await getData('edata_predict')
                    data = data.map(item => {
                        return {
                            date: new Date(item.date).getTime(),
                            value: +item.value1
                        }
                    })
                } else {
                    let result = await getData('edata_year')
                    data = result.data.map(item => {
                        let year = Object.keys(item)[0]
                        return {
                            date: new Date(year).getTime(),
                            value: +item[year][value]
                        }
                    })
                }
                series.data.setAll(data);
                sbSeries.data.setAll(data);
            }

            await generateData(selectCate.value)


            {#var data = generateDatas(2000);#}
            series.data.setAll(data);
            sbSeries.data.setAll(data);

// Make stuff animate on load
// https://www.amcharts.com/docs/v5/concepts/animations/
            series.appear(1000);
            chart.appear(1000, 100);

        }

        am5.ready(async function () {
            var root = am5.Root.new("line_dash");
            $('#line_dash').on('click', (e) => {
                if (e.target.tagName === 'SELECT') return;
                $('.modal').css('display', 'block').css('background-color', 'rgba(0,0,0, .5)').addClass('in');
                modalTitle.text('')
                modalBody.html(`<div id="m-line_dash" style="margin-top: 10px;width: 100%;height: 500px;border-radius: 9px;border: 1px silver solid;">
<select class="form-select" id="m-date-pick-line" aria-label="选择日期"
                                                    style="width: 300px;right: 35px;top: 28px;">
                                                {% for cate in category %}
                                                    <option value="{{ cate }}">{{ cate }}</option>
                                                {% endfor %}
                                            </select>
</div>`)
                let root = am5.Root.new('m-line_dash')
                render1(root, "#m-date-pick-line")
            })

            render1(root, "#date-pick-line")

        }); // end am5.ready()
    </script>
    <script>
        function getOData(path, year) {
            return new Promise(resolve => {
                $.ajax({
                    url: 'http://127.0.0.1:8000/' + path,
                    type: 'get',
                    data: {year},
                    dataType: 'json',
                    success(res) {
                        resolve(res)
                    }
                })
            })
        }


        async function render2(root, sid) {
            const select = document.querySelector(sid)
            root.setThemes([
                am5themes_Animated.new(root)
            ]);


// Create chart
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
            var chart = root.container.children.push(am5percent.PieChart.new(root, {
                layout: root.verticalLayout
            }));


// Create series
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
            var series = chart.series.push(am5percent.PieSeries.new(root, {
                valueField: "value",
                categoryField: "category"
            }));
            let res = await getOData('edata_every', select.value)
            let data = []
            for (let key in res) {
                data.push({
                    value: +res[key],
                    category: key
                })
            }

            select.addEventListener('change', async (e) => {
                res = await getOData('edata_every', select.value)
                data = []
                for (let key in res) {
                    data.push({
                        value: +res[key],
                        category: key
                    })
                }
                series.data.setAll(data);
            })
// Set data
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
            series.data.setAll(data);


// Create legend
// https://www.amcharts.com/docs/v5/charts/percent-charts/legend-percent-series/
            var legend = chart.children.push(am5.Legend.new(root, {
                centerX: am5.percent(50),
                x: am5.percent(50),
                marginTop: 15,
                marginBottom: 15
            }));

            legend.data.setAll(series.dataItems);


// Play initial series animation
// https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
            series.appear(1000, 100);

        }


        am5.ready(async function () {

// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("pie_dash");
            $('#pie_dash').on('click', (e) => {
                if (e.target.tagName === 'SELECT') return;
                $('.modal').css('display', 'block').css('background-color', 'rgba(0,0,0, .5)').addClass('in');
                modalTitle.text('')
                modalBody.html(`<div id="m-pie_dash" style="margin-top: 10px;width: 100%;height: 500px;border-radius: 9px;border: 1px silver solid;">
<select class="form-select" id="m-date-pick-pie" aria-label="选择日期" style="top: 35px;right: 30px;">
                                                {% for year in years %}
                                                    <option value="{{ year }}">{{ year }}</option>
                                                {% endfor %}
                                            </select>
</div>`)
                let root = am5.Root.new('m-pie_dash')
                render2(root, "#m-date-pick-pie")
            })
            render2(root, '#date-pick-pie')

        }); // end am5.ready()
    </script>
    <script>

        async function render3(root) {
            root.setThemes([
                am5themes_Animated.new(root)
            ]);


            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: true,
                panY: true,
                wheelX: "panX",
                wheelY: "zoomX",
                pinchZoomX: true
            }));

            chart.get("colors").set("step", 3);


            var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
            cursor.lineY.set("visible", false);


            var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
                maxDeviation: 0.3,
                baseInterval: {
                    timeUnit: "day",
                    count: 1
                },
                renderer: am5xy.AxisRendererX.new(root, {}),
                tooltip: am5.Tooltip.new(root, {})
            }));

            var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                maxDeviation: 0.3,
                renderer: am5xy.AxisRendererY.new(root, {})
            }));


            var series = chart.series.push(am5xy.LineSeries.new(root, {
                name: "Series 1",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value1",
                valueXField: "date",
                tooltip: am5.Tooltip.new(root, {
                    labelText: "{valueX}: {valueY}\n{previousDate}: {value2}"
                })
            }));

            series.strokes.template.setAll({
                strokeWidth: 2
            });

            series.get("tooltip").get("background").set("fillOpacity", 0.5);

            var series2 = chart.series.push(am5xy.LineSeries.new(root, {
                name: "Series 2",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value2",
                valueXField: "date"
            }));
            series2.strokes.template.setAll({
                strokeDasharray: [2, 2],
                strokeWidth: 2
            });

            // Set date fields
            // https://www.amcharts.com/docs/v5/concepts/data/#Parsing_dates
            root.dateFormatter.setAll({
                dateFormat: "yyyy-MM-dd",
                dateFields: ["valueX"]
            });


            // Set data
            const data = await getData('edata_predict')

            data.forEach(item => {
                item.date = new Date(item.date).getTime();
                item.previousDate = new Date(item.previousDate).getTime();
                item.value1 = +item.value1;
                item.value2 = +item.value2;
            });
            series.data.setAll(data);
            series2.data.setAll(data);


            // Make stuff animate on load
            // https://www.amcharts.com/docs/v5/concepts/animations/
            series.appear(1000);
            series2.appear(1000);
            chart.appear(1000, 100);

        }

        am5.ready(async function () {

            // Create root element
            // https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("couple_dash");

            $('#couple_dash').on('click', (e) => {
                if (e.target.tagName === 'SELECT') return;
                $('.modal').css('display', 'block').css('background-color', 'rgba(0,0,0, .5)').addClass('in');
                modalTitle.text('')
                modalBody.html(`<div id="m-couple_dash" style="width: 100%;height: 500px;border-radius: 9px;border: 1px silver solid;"></div>`)
                let root = am5.Root.new('m-couple_dash')
                render3(root)
            })
            render3(root)
        }); // end am5.ready()
    </script>
{% endblock %}
