{% extends 'functions/base.html' %}

<!-- ---------------------------------------------------------------------------------------------------- -->

{% block title %} 多源数据融合感知系统 {% endblock %}

<!-- ---------------------------------------------------------------------------------------------------- -->

{% block stylesheets %}
    <link rel="stylesheet" href="{{ static('plg/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ static('plg/bootstrap-3.4.1-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('plg/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <style>
        body {
            background: white;
        }

        h5 {
            color: #d4d1d1;
        }

        label {
            font-weight: 300;
        }

        .fa {
            margin-left: 8px;
        }

        .text-blue {
            color: #153974 !important;
            font-weight: 500;
            font-size: 1.6rem;
        }

        .ctl_data {
            color: whitesmoke;
        {#padding: 0 40px 40px;#} margin: 10px;
        }

        ul {
            list-style: none;
        }

        .ctl_data > li {
            background: rgba(4, 54, 108, 0.87) !important;
            width: 100%;
            margin-top: 40px;
            padding: 15px;
            border-radius: 9px;
            border: 3px silver solid;
            transition: .5s;
        }

        .ctl_data > li:hover {
            border: 3px #0c6aaf solid;
        }

        .form-select {
            display: block;
            width: 100%;
            padding: .375rem 2.25rem .375rem .75rem;
            -moz-padding-start: calc(0.75rem - 3px);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right .75rem center;
            background-size: 16px 12px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .card-body {
            flex: 1 1 auto;
            padding: 1rem 1rem;
        }

        .el-upload {
            width: 100%;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            outline: none;
        }

        .el-upload-dragger {
            background-color: #fff;
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            box-sizing: border-box;
            width: 100%;
            height: 180px;
            line-height: 180px;
            text-align: center;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .el-upload-dragger .el-upload__text {
            color: #606266;
            font-size: 25px;
            text-align: center;
        }

        .el-upload-dragger .el-upload__text em {
            color: #409eff;
            font-style: normal;
        }

        .el-upload__input {
            display: none;
        }

        .ctl_bar {
            border: none;
            margin-top: 20px !important;
            background: none !important;
        }

        .ctl_bar > .panel-heading {
            background: rgba(4, 54, 108, 0.87) !important;
            padding: 0 !important;
            border: 3px #b1e9ff solid;
            transition: .4s;
            margin: 10px !important;
        }

        .ctl_bar > .panel-heading:hover {
            border: 3px dodgerblue solid;
            transition: .4s;
        }

        .panel-heading > h4 {
            padding: 20px;
        }

        .panel-collapse {
            background: none !important;
        }

        .sed_details {
            background: rgba(245, 245, 245, .5);
            border-radius: 9px;
            width: 100%;
            padding: 10px;
            color: white;
            margin: 5px;
            border: 3px rgba(245, 245, 245, 0.1) solid !important;
            transition: .4s;
        }

        .sed_details:hover {
            border: 3px skyblue solid !important;
            transition: .4s;
        }

    </style>
{% endblock %}

{% block nav %}
    {# 导航栏 #}
    <nav class="navbar navbar-default" style="border-radius: 0; margin-bottom: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="padding: 5px; padding-left: 10px; padding-top: 0;" href="#"><img
                        src="{{ static('img/logo.png') }}" width="160" style="vertical-align: -10px"></a>
                <a class="navbar-brand" href="#"><small>（Beta 1.0）</small></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="text-blue" href="/"><span class="fa fa-home"></span> 系统主页</a></li>
                    <li><a class="text-blue" href="/mul_source/"><span {% if path == 'mul_source' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-database"></span> 多源数据融合感知</span></a>
                    </li>
                    <li><a class="text-blue" href="/eco_evolution/"><span {% if path == 'eco_evolution' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-line-chart"></span>
                            社会经济演化预警</span></a></li>
                    <li><a class="text-blue" href="/dpm_warning/"><span {% if path == 'dpm_warning' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-bell"></span> 社会经济发展分析</span></a>
                    </li>
                    <li><a class="text-blue" href="/lod_warning/"><span {% if path == 'lod_warning' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}
                    ><span
                            class="fa fa-cubes"></span> 中长期负荷预警</span></a></li>
                    <li><a class="text-blue" href="/res_analysis/"><span {% if path == 'res_analysis' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-id-card-o"></span>
                        社会求职简历数据可视化</span></a></li>
                </ul>
                <p class="navbar-text navbar-right"><a type="button" style="color: midnightblue" href="#"><span
                        class="fa fa-user-circle"></span> 蒲应明 <small>[注销]</small></a></p>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {# 主框架 #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="height: 100vh;background: #104b92; padding: 0;">
                <h3 class="text-center"
                    style="color: white;margin: 0; padding: 60px 40px;background: rgba(255, 255, 255, 0.17);font-weight: 600">
                    <span class="fa fa-database"></span> 系统数据源管理
                </h3>
                <div class="container-fluid" style="">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="ctl_bar panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title collapsed" role="button" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo" id="dianLi">
                                    电网数据 (总计{{ eleCount }}条数据)
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch.
                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua
                                    put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                    et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                    craft
                                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                                    heard of
                                    them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="ctl_bar panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title collapsed" role="button" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne" id="economy">
                                    经济数据 (总计{{ ecoCount }}条数据)
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch.
                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua
                                    put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                    et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                    craft
                                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                                    heard of
                                    them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="ctl_bar panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title collapsed" role="button" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    简历数据
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                    terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                    dolor
                                    brunch.
                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    shoreditch
                                    et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                    nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                    occaecat
                                    craft
                                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't
                                    heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <ul class="ctl_data" style="padding-left: 0">
                                <li role="button" id="economy"><span class="fa fa-laptop"></span> 本地数据</li>
                                <li role="button" id="dianLi"><span class="fa fa-internet-explorer"></span> 外网数据
                                </li>
                                <li role="button" id="gongkai"><span class="fa fa-internet-explorer"></span> 公开数据
                                </li>
                            </ul>

                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-10" style=" background: #e7e7e7">
                <div class="container-fluid" style=" margin-top: 15px">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><span class="fa fa-navicon"></span> 分析系统 - 输入数据管理</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8"
                                     style="display: flex;flex-direction:column;row-gap: 15px;height: 180px">
                                    <div class="top"
                                         style="display: flex;justify-content: space-between;column-gap: 15px;">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>请选择</option>
                                            <option value="1">经济数据</option>
                                            <option value="2">电力数据</option>
                                            <option value="3">简历数据</option>
                                        </select>
                                        <button button type="button" class="btn btn-primary" id="submit-btn"
                                                style="width: 10%">
                                            提交
                                        </button>
                                    </div>
                                    <div class="bottom" style="flex: 1">
                                        <div class="card" style="height: 100%;">
                                            <div class="card-body" style="font-size: 25px;">
                                                This is some text within a card body.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"
                                     style="display: flex;justify-content: center;align-items: center">
                                    <div tabindex="0" class="el-upload el-upload--text">
                                        <div class="el-upload-dragger">
                                            <div class="el-upload__text"><em>点击上传</em></div>
                                        </div>
                                        <input type="file" name="file"
                                               class="el-upload__input" style="visibility: hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">本地数据</div>
                        <div style="height:75vh; overflow-y: scroll;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="page-size"
                                                   placeholder="请输入数据量以加载更多">
                                            <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button">确定</button>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="" style="border-radius: 9px; margin-top: 10px">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover" id="table">
                                        </table>
                                    </div>
                                    <nav aria-label="Page navigation example"
                                         style="display: flex;justify-content: flex-end">
                                        <ul class="pagination">
                                            <li class=""><a class="page-link prev-btn" href="#"
                                                            style="margin-right: 15px;">上一页</a>
                                            </li>
                                            <li class=""><a class="page-link next-btn" href="#">下一页</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ static('plg/jquery-3.6.0.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{{ static('plg/bootstrap-3.4.1-dist/js/bootstrap.js') }}"></script>
    <script>
        $(function () {
            const table = document.querySelector('#table');
            const economy = document.querySelector('#economy');
            const dianLi = document.querySelector('#dianLi');
            const gongKai = document.querySelector('#gongkai');
            const submitBtn = document.querySelector('#submit-btn')
            const pageSizeInput = $('#page-size')
            const prev = $('.prev-btn')
            const next = $('.next-btn')
            const upload = $('.el-upload')
            const uploadText = $('.el-upload__text em')
            const uploadInput = document.querySelector('.el-upload__input')
            let page = 1;
            let hasMore = true;
            const ECONOMY = 1;
            const DIANLI = 2;
            const GONGKAI = 3;
            let status = ECONOMY;
            let pageSize = pageSizeInput.val() || 20
            let files = null;

            pageSizeInput.on('change', (e) => {
                pageSize = +e.target.value
                page = 1;
                getPageData()
            })

            function initialPage() {
                if (page === 1) {
                    prev.css('cursor', 'not-allowed')
                } else {
                    prev.css('cursor', 'pointer')
                }
                if (hasMore) {
                    next.css('cursor', 'pointer')
                } else {
                    next.css('cursor', 'not-allowed')
                }
            }

            initialPage()

            upload.on('click', function (e) {
                uploadInput.value = ''
                uploadInput.click()
                e.stopPropagation()
            })
            uploadInput.addEventListener('change', e => {
                files = e.target.files[0]
                uploadText.html(files.name)
            })

            submitBtn.addEventListener('click', function (e) {
                if (!files) {
                    Swal.fire({
                        title: '错误',
                        text: '请先选择文件',
                        type: 'warning',
                        confirmButtonText: '确定'
                    })
                    return
                }
                submitBtn.setAttribute('disabled', true)
                let formData = new FormData()
                formData.append('file', files)
                $.ajax({
                    url: 'http://127.0.0.1:8000/upload/?type=' + status,
                    type: 'POST',
                    dataType: "json",
                    processData: false,
                    data: formData,
                    contentType: false,
                    success(res) {
                        if (res.code === 0) {
                            Swal.fire({
                                title: '错误',
                                text: res.msg,
                                type: 'error',
                                confirmButtonText: '确定'
                            })
                        } else {
                            Swal.fire({
                                title: '成功',
                                text: res.msg,
                                type: 'success',
                                confirmButtonText: '确定'
                            })
                        }
                        uploadInput.value = ''
                        submitBtn.removeAttribute('disabled')
                        uploadText.html('点击上传')
                    }
                })
            })

            function getPageData() {
                switch (status) {
                    case ECONOMY:
                        geteconomyData();
                        break;
                    case DIANLI:
                        getDianLiData()
                        break;
                    default:
                        return;
                }
            }

            prev.on('click', function (e) {
                if (page === 1) {
                    return
                }
                page--;
                getPageData()
            })

            next.on('click', function (e) {
                if (!hasMore) {
                    return
                }
                page++;
                getPageData()
            })

            function getData(path) {
                return new Promise(resolve => {
                    $.ajax({
                        url: 'http://127.0.0.1:8000/' + path,
                        type: 'get',
                        dataType: 'json',
                        data: {
                            page,
                            pageSize: pageSize || 20
                        },
                        success(res) {
                            resolve(res)
                        }
                    })
                })
            }

            let category = [];

            function getDianLiData() {
                if (status !== ECONOMY) {
                    status = ECONOMY
                    page = 1
                }
                getData('edata_year').then(({data: res, next}) => {
                    hasMore = next
                    initialPage()
                    category = Object.keys(res[0][Object.keys(res[0])[0]])
                    category.push('全社会用电总量')
                    category.unshift('年份')
                    let html = generateDianLiTable(res);
                    table.innerHTML = html;
                })
            }

            getDianLiData()
            economy.addEventListener('click', getEconomyData)

            async function getEconomyData() {
                if (status !== DIANLI) {
                    status = DIANLI
                    page = 1
                }
                let {data: cdata, next: cnext} = await getData('cdata_year')
                let {data: rdata, next: rnext} = await getData('rdata_year')
                let {data: tdata, next: tnext} = await getData('tdata_all')
                hasMore = cnext && rnext && tnext
                initialPage()
                cdata = convertData(cdata)
                rdata = convertData(rdata)
                const resData = {}
                for (let i in cdata) {
                    resData[i] = {...cdata[i], ...rdata[i], ...tdata[i]}
                }
                category = ['年份'].concat(Object.keys(resData[Object.keys(resData)[0]]))
                let html = generateEconomyTable(resData)
                table.innerHTML = html
            }

            dianLi.addEventListener('click', getDianLiData)

            function generateDianLiTable(data) {
                let html = ` <thead class="" style="background: rgba(201,201,201,0.28)"><tr>`
                category.forEach(item => {
                    html += `<th>${item}</th>`
                })
                html += `</tr></thead><tbody>`
                data = data.map(item => {
                    let key = Object.keys(item)[0];
                    item[key].total = Object.values(item[key]).reduce((cur, next) => (+cur) + (+next));
                    return item;
                })
                data.forEach(item => {
                    let key = Object.keys(item)[0];
                    let obj = item[key];
                    html += `<tr><td>${key}</td>`
                    Object.values(obj).forEach(item => {
                        html += `<td>${item}</td>`
                    })
                    html += `</tr>`
                })
                html += '</tody>'
                return html;
            }

            function generateEconomyTable(data) {
                let html = ` <thead class="" style="background: rgba(201,201,201,0.28)"><tr>`
                category.forEach(item => {
                    html += `<th>${item}</th>`
                })
                html += `</tr></thead><tbody>`
                for (let key in data) {
                    html += `<tr><td>${key}</td>`
                    Object.values(data[key]).forEach(item => {
                        html += `<td>${item}</td>`
                    })
                    html += `</tr>`
                }
                html += '</tody>'
                return html;
            }

            function convertData(res) {
                return res.reduce((cur, next) => {
                    cur = {...cur, ...next}
                    return cur
                }, {})
            }
        })
    </script>
{% endblock %}