{% extends 'functions/base.html' %}

<!-- ---------------------------------------------------------------------------------------------------- -->

{% block title %} 社会求职简历数据可视化平台 {% endblock %}

<!-- ---------------------------------------------------------------------------------------------------- -->

{% block stylesheets %}
    <link rel="stylesheet" href="{{ static('plg/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ static('plg/bootstrap-3.4.1-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('plg/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ static('plg/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ static('plg/bootstrap-3.4.1-dist/js/bootstrap.js') }}"></script>
    <style>
        body {
            background: #337ab7;
        }

        h5 {
            color: #d4d1d1;
        }

        label {
            font-weight: 300;
        }

        .fa {
            margin-left: 8px;
        }

        .text-blue {
            color: #153974 !important;
            font-weight: 500;
            font-size: 1.6rem;
        }

        #chartdiv_S {
            width: 100%;
            height: 490px;
            max-width: 100%
        }

        #chartdiv_A {
            width: 100%;
            height: 490px;
        }

        #chartdiv_B {
            width: 100%;
            height: 490px;
        }

        #chartdiv_C {
            width: 100%;
            height: 550px;
        }

        #chartdiv_D {
            width: 100%;
            height: 550px;
        }

        #chartdiv_A, #chartdiv_B, #chartdiv_C, #chartdiv_D, #chartdiv_S {
        {#box-shadow: 0 0 10px 5px rgba(192, 192, 192, 0.55);#} background: white;
        }
    </style>
    <style>
        #network_dash {
            width: 100%;
            height: 80vh;
        }
    </style>
{% endblock %}

<!-- ---------------------------------------------------------------------------------------------------- -->

{% block nav %}
    {# 导航栏 #}
    <nav class="navbar navbar-default" style="border-radius: 0; margin-bottom: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="padding: 5px; padding-left: 10px; padding-top: 0;" href="#"><img
                        src="{{ static('img/logo.png') }}" width="160" style="vertical-align: -10px"></a>
                <a class="navbar-brand" href="#"><small>（Beta 1.0）</small></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="text-blue" href="/"><span class="fa fa-home"></span> 系统主页</a></li>
                    <li><a class="text-blue" href="/mul_source/"><span {% if path == 'mul_source' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-database"></span> 多源数据融合感知</span></a>
                    </li>
                    <li><a class="text-blue" href="/eco_evolution/"><span {% if path == 'eco_evolution' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-line-chart"></span>
                            社会经济演化预警</span></a></li>
                    <li><a class="text-blue" href="/dpm_warning/"><span {% if path == 'dpm_warning' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-bell"></span> 社会经济发展分析</span></a>
                    </li>
                    <li><a class="text-blue" href="/lod_warning/"><span {% if path == 'lod_warning' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}
                    ><span
                            class="fa fa-cubes"></span> 中长期负荷预警</span></a></li>
                    <li><a class="text-blue" href="/res_analysis/"><span {% if path == 'res_analysis' %}
                        style="color: dodgerblue;font-weight: bold"
                    {% endif %}><span class="fa fa-id-card-o"></span>
                        社会求职简历数据可视化</span></a></li>
                </ul>
                <p class="navbar-text navbar-right"><a type="button" style="color: midnightblue" href="#"><span
                        class="fa fa-user-circle"></span> 蒲应明 <small>[注销]</small></a></p>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div>


        {# 主框架 #}

        <div>

            {# 控制栏 #}
            <div class="container-fluid" style="">
                <div class="row">
                    <div class="col-md-1 " style="height: 78vh; padding: 0">
                        <div class="panel panel-primary">
                            <div class="panel-heading">控制面板</div>
                            <div class="panel-body" style="height: 78vh; border: none">
                                <!-- 一级数据控制 -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="_to_position">
                                            <label class="form-check-label" for="_to_position">意向</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="_from_position">
                                            <label class="form-check-label" for="_from_position">生源</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="_sex">
                                            <label class="form-check-label" for="_sex">性别</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="_degree">
                                            <label class="form-check-label" for="_degree">学历</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="_reward">
                                            <label class="form-check-label" for="_reward">薪资</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="_date">
                                            <label class="form-check-label" for="_date">日期</label>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <br>
                                <!-- 二级模型控制 -->
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="__log">
                                        <label class="form-check-label" for="__log">&emsp;逻辑回归统计</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                               id="__neural">
                                        <label class="form-check-label" for="__neural">&emsp;深度网络模型</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                               id="__complex">
                                        <label class="form-check-label" for="__complex">&emsp;复杂网络引擎</label>
                                    </div>
                                </div>
                                <br>
                                <br>

                                <!-- 三级量度控制 -->
                                <div>
                                    <label>数据：<span id="3_num" class="text-primary">0</span> ，占比 <span id="3_pot"
                                                                                                         class="text-primary">0</span>
                                        %</label>
                                    <input type="range" name="slider-1" id="slider" min="1" max="100000" step="1"
                                           value="50">
                                </div>
                                <br>
                                <br>

                                <!-- 四级确认控制 -->
                                <div style="display: flex; justify-content: space-around; ">
                                    <div>
                                        <button class="btn btn-primary"><span class="fa fa-paper-plane"></span> 立即分析
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <br>

                                <!-- 五级帮助信息 -->
                                <div class="well">
                                    <h5 style="color: #908f8f"><span class="fa fa-question-circle"></span> 使用帮助 </h5>
                                    <small style="color: #908f8f; line-height: 2 !important;">
                                        1. 页面加载完成后请选择对应选项 <br>
                                        2. 选择完成后点击立即分 <br>
                                        3. 处于分析状态时请勿刷新浏览器 <br>
                                        4. 您可以对分析结果进行导出操作 <br>
                                        5. 请按照状态栏指示进行操作 <br>
                                        6. 当页面加载完毕后方可进行后续操作 <br>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11" style="height: 78vh; padding: 0">
                        <div class="panel panel-primary" style="border: none">
                            {#                            <div class="panel-heading">数据可视化</div>#}
                            <div class="panel-body" style="height: 78vh; background: #337ab7; border: none">

                                <div class="container-fluid">
                                    <div class="row" style="padding: 0">
                                        <div class="col-md-7" style="height: 43vh; padding:0;">
                                            <div id="chartdiv_C"
                                                 style="border: 1px silver solid; border-radius: 9px; margin-top: 10px; margin-left: 0">
                                                <div class="text-center"
                                                     style="margin-top: 10px; margin-bottom: -20px;">
                                                    社会简历行业偏重与时间关系统计图（1990年到2018年数据）
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="height: 43vh;">
                                            <div id="chartdiv_D"
                                                 style="border: 1px silver solid; border-radius: 9px; margin-top: 10px; margin-left: 0">
                                                <div class="text-center"
                                                     style="margin-top: 10px; margin-bottom: -20px;">
                                                    每年投递者为本科学历的数量与时间关系统计图
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6" style=" height: 400px; padding-left: 0">
                                            <div id="chartdiv_S"
                                                 style="border: 1px silver solid; border-radius: 9px; margin-top: 10px; margin-left: 0;">
                                                <div class="text-center"
                                                     style="margin-top: 10px; margin-bottom: -20px;">
                                                    社会简历分布折线图（1990年到2018年数据）
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="height: 400px">
                                            <div id="chartdiv_A"
                                                 style="border: 1px silver solid; border-radius: 9px; margin-top: 10px; margin-left: 0">
                                                <div class="text-center"
                                                     style="margin-top: 10px; margin-bottom: -20px;">
                                                    社会简历分布条形图（1990年到2018年数据）
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="height: 380px">
                                            <div id="chartdiv_B"
                                                 style="border: 1px silver solid; border-radius: 9px; margin-top: 10px; margin-left: 0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="height: 18vh; padding: 0">
                        {# 状态栏 #}
                        <div>
                            <div class="container-fluid"
                                 style="color: white; background: rgba(255,255,255,0.1); height: 190px; margin-top: 50px; border-radius: 9px; padding: 10px; border: none">
                                <div class="col-md-3">
                                    <div style="margin-top: 10px; display: flex; justify-content: space-between;flex-wrap: wrap">
                                        <button style="width: 150px; height: 50px; font-size: 1.4rem" class="btn btn-primary btn-sm" onclick="process_off()"><span class="fa fa-search"></span> 进行下一项任务&emsp;</button>
                                        <button style="width: 150px; height: 50px; font-size: 1.4rem" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal"><span
                                                class="fa fa-search"></span> 全局可视化&emsp;
                                        </button>
                                        <button style="width: 150px; height: 50px; font-size: 1.4rem" class="btn btn-warning btn-sm" onclick="process_on()"><span class="fa fa-search"></span> 系统检查&emsp;</button>
                                        <button style="width: 150px; height: 50px; font-size: 1.4rem" class="btn btn-default btn-sm"><span class="fa fa-search"></span> 进行预测&emsp;</button>
                                        <div style="display: flex; margin-top: 7px; opacity: 0.6; line-height: 30px">说明：本系统默认引擎为图网络分析引擎，进入页面后可直接进行主流行业预测；也可以进行简历数据可视化，如出现故障请及时检查系统状态；选定模型后即可进行预测。</div>
                                    </div>
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" style="width: 90%">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="network_dash"></div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">关闭
                                                    </button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                                    <br>
                                </div>
                                <div class="col-md-2" style="border-left: #a6d4ff solid 1px; height: 10vh">
                                    <h4><span class="fa fa-cubes"></span> 当前模型架构：</h4>
                                    <div style="width: 100%; padding: 12px; height: 40px; background: rgba(255,255,255,0.15); font-weight: 600">
                                        Karl-EDGCNN (Opt2022.v3.fp75) Engine:1.10-1 E256.1
                                    </div>
                                    <div>
                                        <label style="display: flex; justify-content: space-between">
                                            <span style="padding-top: 18px;padding-left: 10px">选择模型</span>
                                            <select class="form-control" style="width: 80%;background: rgba(255,255,255,0.54); margin-top: 10px">
                                                <option>Karl-EDGCNN (Opt2022.v3.fp75)</option>
                                                <option>Liner-Regress (Norm2022.v4.fp31)</option>
                                                <option>Complex Engine:2.21-2 E512.2</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2" style="border-left: #a6d4ff solid 1px; height: 10vh">
                                    <h4><span class="fa fa-cogs"></span> 模型超参数：</h4>
                                    <div style="border-radius: 9px; width: 100%; height: 90px; background: rgba(255,255,255,0.2)"></div>

                                </div>
                                <div class="col-md-3" style="border-left: #a6d4ff solid 1px; height: 10vh">
                                    <h4><span class="fa fa-cloud-download"></span> 分析报告：</h4>
                                    <div style="width: 100%; padding: 12px; height: 40px; background: rgba(255,255,255,0.15); font-weight: 600">
                                        <a href="#" style="color: #ffecc7"><i class="fa fa-file-text"></i> 点击下载分析报告</a>
                                    </div>
                                    <div style="padding: 10px; color: #9fc3f5">
                                        当前时间: <span id="current_time" style="padding-left: 10px; color: #f5f0a7"></span>
                                    </div>
                                    <div style="padding-left:10px; color: #9fc3f5">
                                        当前系统已存储分析报告: <span id="sum_report" style="padding-left: 10px">18</span>
                                    </div>
                                </div>
                                <div class="col-md-2" style="border-left: #a6d4ff solid 1px; height: 10vh">
                                    <br>
                                    <div>内存 <span id="mem_txt" style="padding-left: 10px; color: #f3c6b1; font-weight: 800"></span></div>
                                    <div class="progress" style="background: #5b80b2">
                                        <div id="mem_status" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        </div>
                                    </div>
                                    <div>CPU <span id="cpu_txt" style="padding-left: 10px; color: #bdf3b1; font-weight: 800"></span></div>
                                    <div class="progress" style="background: #5b80b2">
                                        <div id="cpu_status" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="progress" style="margin-top: 20px;margin-left: 0; margin-right: 0;
							position: absolute; bottom: 0px; left: 20px; right: 20px; background: #296395">
                                <div id="process" class="progress-bar progress-bar-success progress-bar-striped active"
                                     role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 0;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block scripts %}

    <script>
        $('#slider').change(function () {
            $('#3_num').text($('#slider').val())
            $('#3_pot').text(Math.floor((parseInt($('#slider').val()) / 100000) * 100))
        })
    </script>
    <script>
    // Local time
    var myVar = setInterval(function(){  document.getElementById("current_time").innerHTML = new Date();}, 1000);
    </script>
    <script>
    /*
    *   系统状态实时展示： 完毕
    * */
        setInterval(function (){
            $.ajax({
                url: '/sys_status/',
                dataType: 'JSON',
                success: function (sys_data) {
                    console.log(sys_data)
                    $('#mem_status').css('width', sys_data['mem_percent'] + '%')
                    $('#cpu_status').css('width', sys_data['cpu_percent'] + '%')
                    $('#cpu_txt').text(sys_data['cpu_percent'] + '%')
                    $('#mem_txt').text(sys_data['mem_percent'] + '%')
                }
            })
        }, 5000)
    </script>
    <script>
    /*
    *   系统提交-响应控制栏
    * */
    function process_on () {
        $('#process').css('transition', 1.0)
        $('#process').css('width', '100%')
    }
    function process_off () {
        $('#process').css('transition', 0.1)
        $('#process').css('width', 0)
    }
    </script>

    {###################################################################################################################################################################}

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/hierarchy.js"></script>
    {#    <script src="{{ static('js/res/b01.js') }}"></script>#}
    {#    <script src="{{ static('js/res/b02.js') }}"></script>#}
    {#    <script src="{{ static('js/res/b03.js') }}"></script>#}
    {#    <script src="{{ static('js/res/b04.js') }}"></script>#}
    {#    <script src="{{ static('js/res/b05.js') }}"></script>#}



    <script>
        /**
         *  简历数据可视化面板 左下 折线图
         *  状态：完成
         *  日期：2022-3-24
         */
        $.ajax({
            url: '/resume_lb1/',
            dataType: 'json',
            success: function (obj_array) {
                var data = []
                for (let key in obj_array) {
                    data.push({
                        date: new Date(
                            key.slice(0, 4),
                            key.slice(5, 7),
                            key.slice(8)),
                        value: obj_array[key]
                    })
                }

                am5.ready(function () {
                    var root = am5.Root.new("chartdiv_S");
                    root.setThemes([
                        am5themes_Animated.new(root)
                    ]);

// Create chart
                    var chart = root.container.children.push(
                        am5xy.XYChart.new(root, {
                            focusable: true,
                            panX: true,
                            panY: true,
                            wheelX: "panX",
                            wheelY: "zoomX"
                        })
                    );

                    var easing = am5.ease.linear;
                    chart.get("colors").set("step", 3);

// Create axes
                    var xAxis = chart.xAxes.push(
                        am5xy.DateAxis.new(root, {
                            maxDeviation: 0.1,
                            groupData: false,
                            baseInterval: {
                                timeUnit: "day",
                                count: 1
                            },
                            renderer: am5xy.AxisRendererX.new(root, {}),
                            tooltip: am5.Tooltip.new(root, {})
                        })
                    );

                    function createAxisAndSeries(startValue, opposite, data) {
                        var yRenderer = am5xy.AxisRendererY.new(root, {
                            opposite: opposite
                        });
                        var yAxis = chart.yAxes.push(
                            am5xy.ValueAxis.new(root, {
                                maxDeviation: 1,
                                renderer: yRenderer
                            })
                        );

                        if (chart.yAxes.indexOf(yAxis) > 0) {
                            yAxis.set("syncWithAxis", chart.yAxes.getIndex(0));
                        }

                        // Add series
                        // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
                        var series = chart.series.push(
                            am5xy.LineSeries.new(root, {
                                xAxis: xAxis,
                                yAxis: yAxis,
                                valueYField: "value",
                                valueXField: "date",
                                tooltip: am5.Tooltip.new(root, {
                                    pointerOrientation: "horizontal",
                                    labelText: "{valueY}"
                                })
                            })
                        );

                        //series.fills.template.setAll({ fillOpacity: 0.2, visible: true });
                        series.strokes.template.setAll({strokeWidth: 1});

                        yRenderer.grid.template.set("strokeOpacity", 0.05);
                        yRenderer.labels.template.set("fill", series.get("fill"));
                        yRenderer.setAll({
                            stroke: series.get("fill"),
                            strokeOpacity: 1,
                            opacity: 1
                        });

                        // Set up data processor to parse string dates
                        // https://www.amcharts.com/docs/v5/concepts/data/#Pre_processing_data
                        series.data.processor = am5.DataProcessor.new(root, {
                            dateFormat: "yyyy-MM-dd",
                            dateFields: ["date"]
                        });

                        series.data.setAll(generateChartData(data));
                    }

// Add cursor
                    var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
                        xAxis: xAxis,
                        behavior: "none"
                    }));
                    cursor.lineY.set("visible", false);

// add scrollbar
                    chart.set("scrollbarX", am5.Scrollbar.new(root, {
                        orientation: "horizontal"
                    }));

                    createAxisAndSeries(10, false, data);


// Make stuff animate on load
                    chart.appear(1000, 100);

// Generates random data, quite different range
                    function generateChartData(data) {


                        return data;

                    }

                });

            }
        })
    </script>

    <script>
        /*
        *  简历 - 下中 - 条形图
        *  状态；碰不得，别碰
        *  日期：2022-3-27
        * */
        $.ajax({
            url: '/resume_lb2/',
            dataType: 'json',
            success: function (obj_array) {
                var data = []
                for (let key_ in obj_array) {
                    console.log(key_)
                    data.push({
                        country: key_,
                        value: obj_array[key_]
                    })
                }
                console.log(data)
                am5.ready(function () {

                    var root = am5.Root.new("chartdiv_A");
                    root.setThemes([
                        am5themes_Animated.new(root)
                    ]);
                    var chart = root.container.children.push(am5xy.XYChart.new(root, {
                        panX: true,
                        panY: true,
                        wheelX: "panX",
                        wheelY: "zoomX"
                    }));
                    var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
                    cursor.lineY.set("visible", false);
                    var xRenderer = am5xy.AxisRendererX.new(root, {minGridDistance: 30});
                    xRenderer.labels.template.setAll({
                        rotation: -90,
                        centerY: am5.p50,
                        centerX: am5.p100,
                        paddingRight: 15
                    });
                    var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
                        maxDeviation: 0.3,
                        categoryField: "country",
                        renderer: xRenderer,
                        tooltip: am5.Tooltip.new(root, {})
                    }));
                    var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                        maxDeviation: 0.3,
                        renderer: am5xy.AxisRendererY.new(root, {})
                    }));
                    var series = chart.series.push(am5xy.ColumnSeries.new(root, {
                        name: "Series 1",
                        xAxis: xAxis,
                        yAxis: yAxis,
                        valueYField: "value",
                        sequencedInterpolation: true,
                        categoryXField: "country",
                        tooltip: am5.Tooltip.new(root, {
                            labelText: "{valueY}"
                        })
                    }));
                    series.columns.template.setAll({cornerRadiusTL: 5, cornerRadiusTR: 5});
                    series.columns.template.adapters.add("fill", function (fill, target) {
                        return chart.get("colors").getIndex(series.columns.indexOf(target));
                    });

                    series.columns.template.adapters.add("stroke", function (stroke, target) {
                        return chart.get("colors").getIndex(series.columns.indexOf(target));
                    });
                    data = data

                    xAxis.data.setAll(data);
                    series.data.setAll(data);
                    series.appear(1000);
                    chart.appear(1000, 100);
                });

            }
        })
    </script>

    <script>
        /*
        *  简历 - 下右侧 - 条形图
        *  状态；终于他妈的搞完了
        *  日期：2022-3-27
        * */
        $.ajax({
            url: '/resume_lb3/',
            dataType: 'json',
            success: function (obj_array) {
                var data = []
                for (let key_ in obj_array) {
                    data.push(
                        {value: obj_array[key_], category: key_},
                    )
                }

                am5.ready(function () {
                    var root = am5.Root.new("chartdiv_B");
                    root.setThemes([
                        am5themes_Animated.new(root)
                    ]);
                    var chart = root.container.children.push(am5percent.PieChart.new(root, {
                        layout: root.verticalLayout
                    }));
                    var series = chart.series.push(am5percent.PieSeries.new(root, {
                        valueField: "value",
                        categoryField: "category"
                    }));

                    series.data.setAll(data);

                    var legend = chart.children.push(am5.Legend.new(root, {
                        centerX: am5.percent(50),
                        x: am5.percent(50),
                        marginTop: 15,
                        marginBottom: 15
                    }));

                    legend.data.setAll(series.dataItems);
                    series.appear(1000, 100);

                }); // end am5.ready()

            }
        })
    </script>


    <script>
        /*
        *  简历 - 左上的 - 动态图
        *  状态：我日
        *  日期：2022-3-27
        * */
        $.ajax({
            url: '/resume_lb4/',
            dataType: 'json',
            success: function (obj_array) {
                am5.ready(function () {

// Data
                    var allData = obj_array;


// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
                    var root = am5.Root.new("chartdiv_C");

                    root.numberFormatter.setAll({
                        numberFormat: "#a",

                        // Group only into M (millions), and B (billions)
                        bigNumberPrefixes: [
                            {number: 1e6, suffix: "M"},
                            {number: 1e9, suffix: "B"}
                        ],

                        // Do not use small number prefixes at all
                        smallNumberPrefixes: []
                    });

                    var stepDuration = 2000;


// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
                    root.setThemes([am5themes_Animated.new(root)]);


// Create chart
// https://www.amcharts.com/docs/v5/charts/xy-chart/
                    var chart = root.container.children.push(am5xy.XYChart.new(root, {
                        panX: true,
                        panY: true,
                        wheelX: "none",
                        wheelY: "none"
                    }));


// We don't want zoom-out button to appear while animating, so we hide it at all
                    chart.zoomOutButton.set("forceHidden", true);


// Create axes
// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
                    var yRenderer = am5xy.AxisRendererY.new(root, {
                        minGridDistance: 20,
                        inversed: true
                    });
// hide grid
                    yRenderer.grid.template.set("visible", false);

                    var yAxis = chart.yAxes.push(am5xy.CategoryAxis.new(root, {
                        maxDeviation: 0,
                        categoryField: "network",
                        renderer: yRenderer
                    }));

                    var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
                        maxDeviation: 0,
                        min: 0,
                        strictMinMax: true,
                        extraMax: 0.1,
                        renderer: am5xy.AxisRendererX.new(root, {})
                    }));

                    xAxis.set("interpolationDuration", stepDuration / 10);
                    xAxis.set("interpolationEasing", am5.ease.linear);


// Add series
// https://www.amcharts.com/docs/v5/charts/xy-chart/series/
                    var series = chart.series.push(am5xy.ColumnSeries.new(root, {
                        xAxis: xAxis,
                        yAxis: yAxis,
                        valueXField: "value",
                        categoryYField: "network"
                    }));

// Rounded corners for columns
                    series.columns.template.setAll({cornerRadiusBR: 5, cornerRadiusTR: 5});

// Make each column to be of a different color
                    series.columns.template.adapters.add("fill", function (fill, target) {
                        return chart.get("colors").getIndex(series.columns.indexOf(target));
                    });

                    series.columns.template.adapters.add("stroke", function (stroke, target) {
                        return chart.get("colors").getIndex(series.columns.indexOf(target));
                    });

// Add label bullet
                    series.bullets.push(function () {
                        return am5.Bullet.new(root, {
                            locationX: 1,
                            sprite: am5.Label.new(root, {
                                text: "{valueXWorking.formatNumber('#.# a')}",
                                fill: root.interfaceColors.get("alternativeText"),
                                centerX: am5.p100,
                                centerY: am5.p50,
                                populateText: true
                            })
                        });
                    });

                    var label = chart.plotContainer.children.push(am5.Label.new(root, {
                        text: "2002",
                        fontSize: "8em",
                        opacity: 0.2,
                        x: am5.p100,
                        y: am5.p100,
                        centerY: am5.p100,
                        centerX: am5.p100
                    }));

// Get series item by category
                    function getSeriesItem(category) {
                        for (var i = 0; i < series.dataItems.length; i++) {
                            var dataItem = series.dataItems[i];
                            if (dataItem.get("categoryY") == category) {
                                return dataItem;
                            }
                        }
                    }

// Axis sorting
                    function sortCategoryAxis() {
                        // sort by value
                        series.dataItems.sort(function (x, y) {
                            return y.get("valueX") - x.get("valueX"); // descending
                            //return x.get("valueX") - y.get("valueX"); // ascending
                        });

                        // go through each axis item
                        am5.array.each(yAxis.dataItems, function (dataItem) {
                            // get corresponding series item
                            var seriesDataItem = getSeriesItem(dataItem.get("category"));

                            if (seriesDataItem) {
                                // get index of series data item
                                var index = series.dataItems.indexOf(seriesDataItem);
                                // calculate delta position
                                var deltaPosition =
                                    (index - dataItem.get("index", 0)) / series.dataItems.length;
                                // set index to be the same as series data item index
                                if (dataItem.get("index") != index) {
                                    dataItem.set("index", index);
                                    // set deltaPosition instanlty
                                    dataItem.set("deltaPosition", -deltaPosition);
                                    // animate delta position to 0
                                    dataItem.animate({
                                        key: "deltaPosition",
                                        to: 0,
                                        duration: stepDuration / 2,
                                        easing: am5.ease.out(am5.ease.cubic)
                                    });
                                }
                            }
                        });
                        // sort axis items by index.
                        // This changes the order instantly, but as deltaPosition is set, they keep in the same places and then animate to true positions.
                        yAxis.dataItems.sort(function (x, y) {
                            return x.get("index") - y.get("index");
                        });
                    }

                    var year = 2002;
                    var interval = setInterval(function () {
                        year++;

                        if (year > 2018) {
                            clearInterval(interval);
                            clearInterval(sortInterval);
                        }

                        updateData();
                    }, stepDuration);

                    var sortInterval = setInterval(function () {
                        sortCategoryAxis();
                    }, 100);

                    function setInitialData() {
                        var d = allData[year];

                        for (var n in d) {
                            series.data.push({network: n, value: d[n]});
                            yAxis.data.push({network: n});
                        }
                    }

                    function updateData() {
                        var itemsWithNonZero = 0;

                        if (allData[year]) {
                            label.set("text", year.toString());

                            am5.array.each(series.dataItems, function (dataItem) {
                                var category = dataItem.get("categoryY");
                                var value = allData[year][category];

                                if (value > 0) {
                                    itemsWithNonZero++;
                                }

                                dataItem.animate({
                                    key: "valueX",
                                    to: value,
                                    duration: stepDuration,
                                    easing: am5.ease.linear
                                });
                                dataItem.animate({
                                    key: "valueXWorking",
                                    to: value,
                                    duration: stepDuration,
                                    easing: am5.ease.linear
                                });
                            });

                            yAxis.zoom(0, itemsWithNonZero / yAxis.dataItems.length);
                        }
                    }

                    setInitialData();
                    setTimeout(function () {
                        year++;
                        updateData();
                    }, 50);
                    series.appear(1000);
                    chart.appear(1000, 100);

                }); // end am5.ready()
            }
        })

    </script>


    <script>
        /*
        *  简历 - 右上角的 - 傻逼图
        *  状态：太他妈恶心了
        *  日期：2022-3-27
        * */
        $.ajax({
            url: '/resume_lb5/',
            dataType: 'json',
            success: function (obj_array) {

                var data = []
                color_ = 0
                for (let key_ in obj_array) {
                    data.push(
                        {
                            year: obj_array[key_]['year'].toString(),
                            value: obj_array[key_]['value'],
                        }
                    )
                }


                am5.ready(function () {

// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
                    var root = am5.Root.new("chartdiv_D");

// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
                    root.setThemes([
                        am5themes_Animated.new(root)
                    ]);

// Create chart
// https://www.amcharts.com/docs/v5/charts/xy-chart/
                    var chart = root.container.children.push(am5xy.XYChart.new(root, {
                        panX: true,
                        panY: true,
                        wheelX: "panX",
                        wheelY: "zoomX",
                        layout: root.verticalLayout
                    }));

// Add cursor
// https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
                    var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
                        behavior: "none"
                    }));
                    cursor.lineY.set("visible", false);

                    var colorSet = am5.ColorSet.new(root, {});

// The data
                    {#var data = data#}


// Create axes
// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
                    var xRenderer = am5xy.AxisRendererX.new(root, {});
                    xRenderer.grid.template.set("location", 0.5);
                    xRenderer.labels.template.setAll({
                        location: 0.5,
                        multiLocation: 0.5
                    });

                    var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
                        categoryField: "year",
                        renderer: xRenderer,
                        tooltip: am5.Tooltip.new(root, {})
                    }));

                    xAxis.data.setAll(data);

                    var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                        maxPrecision: 0,
                        renderer: am5xy.AxisRendererY.new(root, {})
                    }));

                    var series = chart.series.push(am5xy.LineSeries.new(root, {
                        xAxis: xAxis,
                        yAxis: yAxis,
                        valueYField: "value",
                        categoryXField: "year",
                        tooltip: am5.Tooltip.new(root, {
                            labelText: "{valueY}",
                            dy: -5
                        })
                    }));

                    series.strokes.template.setAll({
                        templateField: "strokeSettings",
                        strokeWidth: 2
                    });

                    series.fills.template.setAll({
                        visible: true,
                        fillOpacity: 0.5,
                        templateField: "fillSettings"
                    });


                    series.bullets.push(function () {
                        return am5.Bullet.new(root, {
                            sprite: am5.Circle.new(root, {
                                templateField: "bulletSettings",
                                radius: 5
                            })
                        });
                    });

                    series.data.setAll(data);
                    series.appear(1000);

// Add scrollbar
// https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
                    chart.set("scrollbarX", am5.Scrollbar.new(root, {
                        orientation: "horizontal",
                        marginBottom: 20
                    }));

// Make stuff animate on load
// https://www.amcharts.com/docs/v5/concepts/animations/
                    chart.appear(1000, 100);

                }); // end am5.ready()

            }
        })

    </script>





    <script>
        /*
        *   简历网络可视化图
        *   状态：未开始
        *   日期：2022-3-27
        * */
        am5.ready(function () {

// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("network_dash");

// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
                am5themes_Animated.new(root)
            ]);

            var data = {
                name: "Root",
                value: 0,
                children: [
                    {
                        name: "1",
                        linkWith: ["2"],
                        children: [
                            {
                                name: "A",
                                children: [
                                    {name: "A1", value: 1},
                                    {name: "A2", value: 1},
                                    {name: "A3", value: 1},
                                    {name: "A4", value: 1},
                                    {name: "A5", value: 1}
                                ]
                            },
                            {
                                name: "B",
                                children: [
                                    {name: "B1", value: 1},
                                    {name: "B2", value: 1},
                                    {name: "B3", value: 1},
                                    {name: "B4", value: 1},
                                    {name: "B5", value: 1}
                                ]
                            },
                            {
                                name: "C",
                                children: [
                                    {name: "C1", value: 1},
                                    {name: "C2", value: 1},
                                    {name: "C3", value: 1},
                                    {name: "C4", value: 1},
                                    {name: "C5", value: 1}
                                ]
                            }
                        ]
                    },

                    {
                        name: "2",
                        linkWith: ["3"],
                        children: [
                            {
                                name: "D", value: 1
                            },
                            {
                                name: "E", value: 1
                            }
                        ]
                    },
                    {
                        name: "3",
                        children: [
                            {
                                name: "F",
                                children: [
                                    {name: "F1", value: 1},
                                    {name: "F2", value: 1},
                                    {name: "F3", value: 1},
                                    {name: "F4", value: 1},
                                    {name: "F5", value: 1}
                                ]
                            },
                            {
                                name: "H",
                                children: [
                                    {name: "H1", value: 1},
                                    {name: "H2", value: 1},
                                    {name: "H3", value: 1},
                                    {name: "H4", value: 1},
                                    {name: "H5", value: 1}
                                ]
                            },
                            {
                                name: "G",
                                children: [
                                    {name: "G1", value: 1},
                                    {name: "G2", value: 1},
                                    {name: "G3", value: 1},
                                    {name: "G4", value: 1},
                                    {name: "G5", value: 1}
                                ]
                            }
                        ]
                    }
                ]
            };

// Create wrapper container
            var container = root.container.children.push(
                am5.Container.new(root, {
                    width: am5.percent(100),
                    height: am5.percent(100),
                    layout: root.verticalLayout
                })
            );


            var series = container.children.push(
                am5hierarchy.ForceDirected.new(root, {
                    singleBranchOnly: false,
                    downDepth: 1,
                    topDepth: 1,
                    maxRadius: 25,
                    minRadius: 12,
                    valueField: "value",
                    categoryField: "name",
                    childDataField: "children",
                    idField: "name",
                    linkWithStrength: 0.3,
                    linkWithField: "linkWith",
                    manyBodyStrength: -15,
                    centerStrength: 0.5
                })
            );

            series.get("colors").set("step", 2);

            series.data.setAll([data]);
            series.set("selectedDataItem", series.dataItems[0]);

// Make stuff animate on load
            series.appear(1000, 100);

        }); // end am5.ready()
    </script>

{% endblock %}

























